@page "{id}"
@model pet4care.Pages.EcrireAvisModel
@{
}

<div>
    <h1 class="nomTitre">Ecrire un avis : </h1>

    <div>
        <form method="post">
            <h2>Message :</h2>
            <textarea id="message" name="message" style="width:100%">@Model.Avis.Message</textarea>
            <h2>Note :</h2>
            <select id="note" name="note">
                @for(int i=1; i<6; i++)
                {
                    @Html.Raw("<option value=\""+i+"\""+ (i==Model.Avis.Note?" selected":"") +">"+i+"</option>")
                }
            </select>
            <input type="hidden" name="idGardien" value="@Model.Client.Id" />
            <input type="submit" value="Envoyer" />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
