@page {id}
@model pet4care.Pages.ListeAvisModel
@using pet4care.Models
@{
}
<link rel="stylesheet" href="~/css/ListeAvisStyle.css" />
<div>
    <h1 class="nomTitre">Avis de : Jimmy TacosEater </h1>



    <div class="liste">
    @{foreach (Avis av in Model.Aviss)
        {
            <div class="avis">
                Avis de : @av.Nom #@av.Id
                
                <div class="message">@av.Message</div>
                
                <div class="note">
                    Note finale : @{for(int i=0;i<av.Note;i++)
                        {

                            <section>&#9734</section>
                            } }
                        </div>


    </div>
    <br/>
        }

    }
</div>

    <button class="btnDispo">Ajouter un avis</button>
</div>


