body {
    background-image : linear-gradient(to bottom right, chartreuse, lightsteelblue, lightgray);

}



.Dispo {
    border-left: 5px solid green;
    background-image: linear-gradient(to right, lavender, lightgrey);
    width: 40%;
    height : 100px;
    text-indent: 30px;
    padding-left: 5px;
    line-height: 1.5;
    transition: all 0.5s;
    overflow: hidden;
}

.btnDispo{
    border-color: deepskyblue;
    box-shadow: 2px 2px 2px lightblue;
    margin-top: 4px;
    margin-bottom: 3px;
    padding: 5px;
}

.Dispo:hover {
    box-shadow: 5px 5px 5px green;
    background-image: linear-gradient(to right, limegreen, lavender);
    transform: translate(20px,0px);
    height: initial;
    width: 50%;
}


.NonDispo {
    border-left: 5px solid red;
    background-image: linear-gradient(to right, lavender, lightgrey);
    width: 40%;
    height: 100px;
    text-indent: 30px;
    padding-left: 5px;
    line-height: 1.5;
    transition: all 0.5s;
    overflow: hidden;
}

    .NonDispo:hover {
        box-shadow: 5px 5px 5px red;
        background-image: linear-gradient(to right, tomato, lavender);
        transform: translate(20px,0px);
        height: auto;
        width: 50%;
    }

.nomTitre{
   
    color: forestgreen;
    text-shadow: 2px 2px 5px green;

}